<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>OpenMarchante</title>
  <link rel="stylesheet" href="css/normalize.css" />
  <link rel="stylesheet" href="font-awesome/css/font-awesome.min.css">
  <link rel="stylesheet" href="css/main.css" />
</head>
<body>
  <header id="barsup"> <!--Considerar este encabezado como una barra de estado superior-->
    <aside id="moneda">$ moneda <i class="fa fa-caret-down"></i></aside>
    <nav id="menuStat"><i class="fa fa-whatsapp"></i> Tel  <a href="login.html"> <i class="fa fa-user"></i> User</a> <i class="fa fa-heart"></i> Deseos  <i class="fa fa-shopping-basket"></i> Carrito  <i class="fa fa-sign-out"></i> Salir</nav>
    <div class="reset"></div>
  </header>

  <article>
    <header> <!-- -->
      <img src="img/Y-k.full.1709057.jpg" alt="logo" />
       <aside id="carStatus">
        <i class="fa fa-shopping-basket"></i> 0 item(s) - $0.00
      </aside>
      <form action="index.html" method="get">
        <input id="search" type="text" name="palabras" required placeholder="articulos a buscar"><button id="submit" type="submit"><i class="fa fa-search"></i></button> 
      </form>
      
     
    </header> <!-- -->
    
    <nav> <!---->
      <ul>
        <li><a href="">Desktops</a> 
          <ul>
            <li><a href="">Pc (0)</a></li>
            <li><a href="">Linux (7)</a></li>
            <li><a href="">Mac (1)</a></li>
            <li class="sep"></li> <!--separador-->
            <li><a href="">Ver todos</a></li>
          </ul>
        </li>

        <li><a href="">Laptops y Notebooks</a>
          <ul>
            <li>Pc (0)</li>
            <li>Linux (5)</li>
            <li>Mac (0)</li>
            <li class="sep"></li> <!--separador-->
            <li>Ver todos</li>
          </ul>
        </li>

        <li> <a href="">Componentes</a>
          <ul>
            <li>Ratones(0)</li>
            <li>Monitores (1)</li>
            <li>Impresoras (0)</li>
            <li>Scanners(1)</li>
            <li>Webcams (4)</li>
            <li class="sep"></li> <!--separador-->
            <li>Ver todos</li>
          </ul>
        </li>

        <li><a href="">Tablets</a></li>
        <li><a href="">Software</a></li>
        <li><a href="">Celulares</a></li>
        <li><a href="">camaras</a></li>
        <li><a href="">Reproductores MP3</a>
          <ul>
            <li>T1</li>
            <li>T2</li>
            <li>T3</li>
            <li>T4</li>
            <li class="sep"></li> <!--separador-->
            <li>Ver todos</li>
          </ul>
        </li>
      </ul>
      <div class="reset"></div>
    </nav> <!--Cierra menu-->
    
    <header id="ruta"> 
        [icon house|inicio] > Laptops & Notebooks >
    </header> <!-- ruta -->
    
    <section> <!-- Contenido principal -->
        <div id="banner">
            <img src="img/Nagisa.Kaworu.full.1772997.jpg" alt="banner-kaworu" /> 
        </div> <!-- Termina banner -->
        
        <div id="ofertas">
            <h3>Ofertas</h3>
            <aside> <!-- Muestra un producto -->
                <a href=""><img src="img/productos/0001.jpg" alt="macbook" /></a> <img src="img/productos/0001.jpg" alt="macbook" />
                <a href=""><h4>Mackbook</h4></a>
                <p>jfhdskjhfkjsdhfrheiuhcnkmioamec
                lkjadliocjio jechwqwksvhsdbj,kwpoireuwriow
                ,dsakjh cjsurdgrerakjsjlkeeihequewijpwqowiropwereubt </p>
                <p><strong>$16020.00</strong></p>
                <div class="barinf">
							<a href="#"><i class="fa fa-shopping-basket"></i></a>
							<a href="#"><i class="fa fa-heart"></i></a>
							
				</div>
            </aside> <!--  Termin Muestra un producto -->
            <aside> <!-- Muestra un producto -->
                <a href=""><img src="img/productos/0002.jpg" alt="macbook" /></a>
                <a href=""><h4>Mackbook</h4></a>
                <p>jfhdskjhfkjsdhfrheiuhcnkmioamec
                lkjadliocjio jechwqwksvhsdbj,kwpoireuwriow
                ,dsakjh cjsurdgrerakjsjlkeeihequewijpwqowiropwereubt </p>
                <p><strong>$16020.00</strong></p>
               	<div class="barinf">
							<a href="#"><i class="fa fa-shopping-basket"></i></a>
							<a href="#"><i class="fa fa-heart"></i></a>
							
				</div>
            </aside> <!--  Termin Muestra un producto -->
            <aside> <!-- Muestra un producto -->
                <a href=""><img src="img/productos/0003.jpg" alt="monitor" /></a> 
                <a href=""><h4>Monitor</h4></a>
                <p>jfhdskjhfkjsdhfrheiuhcnkmioamec
                lkjadliocjio jechwqwksvhsdbj,kwpoireuwriow
                ,dsakjh cjsurdgrerakjsjlkeeihequewijpwqowiropwereubt </p>
                <p><strong>$680.00</strong></p>
                	<div class="barinf">
							<a href="#"><i class="fa fa-shopping-basket"></i></a>
							<a href="#"><i class="fa fa-heart"></i></a>
							
				</div>
            </aside> <!--  Termin Muestra un producto -->
            <aside class="ultimo"> <!-- Muestra un producto -->
                <a href=""> <img src="img/productos/0004.jpg" alt="impresora" /></a>
                <a href=""><h4>Impresora</h4></a>
                <p>jfhdskjhfkjsdhfrheiuhcnkmioamec
                lkjadliocjio jechwqwksvhsdbj,kwpoireuwriow
                ,dsakjh cjsurdgrerakjsjlkeeihequewijpwqowiropwereubt </p>
                <p><strong>$6000.00</strong></p>
                <div class="barinf">
							<a href="#"><i class="fa fa-shopping-basket"></i> </a>
							<a href="#"><i class="fa fa-heart"></i></a>
							
				</div>
            </aside> <!--  Termin Muestra un producto -->
            <div class="reset"></div>
        </div> <!-- Termina ofertas -->
        <div id="marcas">
            <div>
                <img src="img/marcas/001.jpg" alt="marca 1" />
                <img src="img/marcas/002.jpg" alt="marca 2" />
                <img src="img/marcas/003.jpg" alt="marca 3" />
           
            </div>
        </div> <!-- Termina marcas -->
    </section> <!-- Termina Contenido principal -->
  </article>

    <footer>
        <section>
            <aside>
              <h3>Algo</h3>
              <ul>
                <li></li>
                <li></li>
                <li></li>
              </ul>
            </aside>

            <aside>
              <h3>Algo2</h3>
              <ul>
                <li></li>
                <li></li>
                <li></li>
              </ul>
            </aside>

            <aside>
              <h3>Algo3</h3>
              <ul>
                <li></li>
                <li></li>
                <li></li>
              </ul>
            </aside>

            <aside class="ultimo">
              <h3>Extras</h3>
              <ul>
                <li>Marca</li>
                <li>Sugerencias</li>
                <li>Afiliados</li>
                <li>Especiales</li>
              </ul>
            </aside>
            <div class="reset"></div>
            <hr />
            <p>
                Powered by OpenMarchante<br />
                Your Store 2015
                
            </p>
        </section>
    </footer>
<!--Si es necesario aqui incluimos los script en JS-->
  <script>

  </script>
</body>
</html>
