/* css/main.css */
body {
  font-size: 16px;
  font-family: Arial;
}

header#barsup {
  background-color: #eee;
  color: #666;
  width: 100%;
  padding: 10px 0px;
  font-size: 12px;
}

aside#moneda {
  float: left;
  margin-left: 50px;
}

nav#menuStat {
  float: right;
  margin-right: 50px;
}

header#barsup a {
    text-decoration: none;    
    color: #666;
}

/***
   Estilos para el header del contenido principal
***/
article {
  width: 960px;
  margin: 0px auto;
  margin-top: 20px;

}

article header img {
    width: 250px;
    height: 50px;
}

article header form {
  display: inline-block;
  vertical-align: top;
  height: 50px;
  float: right;
  margin-right: 10px;
}

article header form input {
  height: 38px;
  padding-left: 8px;
  padding-right: 8px;
}

input#search {
  width: 300px; /* 370-16-2 = 352 */
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  border: 1px solid #999;
  outline: 0px;
}

input#search:focus {
  border: 1px solid rgb(1, 82, 221);
  box-shadow: 0px 0px 3px rgb(1, 82, 221);
}

button#submit {
  height: 42px;
  width: 76px; /* 400-(300+16+2) =  78 - 2 = 76 */
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  border: 1px solid #ccc;
}

button#submit:hover {
  border: 1px solid #999;
}

aside#carStatus {
  border-radius: 8px;
  background-color: #333;
  color: #eee;
  display: inline-block;
  padding: 1px 8px;
  vertical-align: top;
  height: 40px;
  width: 250px;
  text-align: center;
  line-height: 40px;
  float: right;
}

aside#carStatus:hover {
  background-color: #222;
}
/*
Estilos para el nav (menu principal)
*/

article nav {
    width: 940px;
    margin: 0px auto;
    border-radius: 8px;
    background-color: #229AC8;
    color: #eee;
    padding: 0px 10px;
    box-shadow: 0px 1px 2px #333; 
    margin-bottom: 20px;
}

article nav ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

article nav ul li {
    float: left;
    position: relative;
    font-size: 15px;
}

article nav ul li a {
    text-decoration: none;
    color: #eee;
    padding: 15px;
    display: inline-block;
}

article nav ul li a:hover {
    background-color: rgba(0, 0, 0, 0.15)
}

/* Estilos para submenus */
article nav ul li ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
    display: none; /*funciona con el article nav ul li:hover ul   */
    position: absolute;
    background-color: #fff;
    box-shadow: 0px 2px 4px #222;
}

article nav ul li ul li {
    width: 150px;
    color: #222;
    background-color: #fff;
}

article nav ul li ul li:hover {
    background-color: #229AC8;
    color: #eee;
}

article nav ul li:hover ul  {
    display: block;
}

article nav ul li ul li a {
    width: 120px;
    color: #222;
    background-color: #fff;
}

article nav ul li ul li a:hover {
    color: #eee;
    background-color: #229AC8;
}

li.sep {
    width: 100%;
    border: 0px solid #000;
    height: 1px;
    background-color: #ccc;
    margin: 0px;
    padding: 0px;
}

/* ###########   Estilos para la barra de ruta     ###########*/
header#ruta {
    display: none;
}

/* ###########   Estilos para el contenido principal    ###########*/
div#banner {
    box-shadow: 0px 2px 4px #666;
    width: 960px;
     /*No deberia de ir, es solo de prueba     height: 150px;*/
}

div#banner img {
    width: 100%;   
} 

/******************************/
/*	estilos ofertas -			*/
/*****************************/

div#ofertas{
	width: 960px;
	margin: 0px auto;
	margin-top: 100px;
}

div#ofertas h3{
	font-weight: normal;
}

div#ofertas aside {
	width: 196px;
	height: 390px;
	border: 1px solid #999;
	float: left;
    margin-right: 15px;
	padding: 15px;
	color: #888;  
    /*position relative para la bar inf*/
    position: relative;
}

div#ofertas aside.ultimo {
    margin-right: 0px;
}

div#ofertas aside a {
    text-decoration: none;
    color: #23A1D1;
    font-size: 14px;
}

div#ofertas aside a:hover {
    color: #0040FF;
}

div#ofertas aside p {
    font-size: 12px;
    color: #666;
}

div#ofertas aside img {
	height: 200px;
	margin:0px auto;
}

div#ofertas aside h4 {
	font-weight: bold;
	color: #23a1d1;
}

div#ofertas aside div.barinf {
    position: absolute; /*va con el position relative de div#ofertas aside */
    width: 100%;
    height: 40px;
    bottom: 0px;
    left: 0px;
    
}

div#ofertas aside div.barinf a {
    display: inline-block;
    height: 38px;
    width: 111px;
    float: left;
    border: 1px solid #ddd;
    background-color: #eee;
    color: #666;
    text-align: center;
    line-height: 35px;
}

div#ofertas aside div.barinf a:hover {
    background-color: #ccc;
    color: #444;
}

/*****************************	
estilos para slider	de marcas
*****************************/
div#marcas {
    width: 960px;
	height: 80px;
    margin: 0px auto;
    margin-top: 20px;
	box-shadow: 0px 1px 4px #666;
	border-radius: 8px;
	
}

/*-----------------  Login  -------------------*/
section div#login {
    background-color: #fff;
    width: 25%;
    padding: 1%;
    margin: 7% auto;
    border: 2px solid #316CD8;
    border-radius: 8px;
    box-shadow:inset  0px 0px 10px #000;
}


section div#login form input {
    width: 80%;
    height: 20px;
    margin: 3% 2%;
    color: #ff6200;
    text-align: center;
    border-radius: 8px;
    border: 1px solid #999;
    outline: 0px;
}

section div#login form i {
    width: 11px;
    margin: 3% 2%;
}

section div#login form input:focus {
    border: 1px solid rgb(1, 82, 221);
    box-shadow: 0px 0px 3px rgb(1, 82, 221);   
}

button#ingresar, button#nuevo {
    color: #fff;
    width: 75%;
    height: 30px;
    margin: 1.5% 2%;
    margin-left: 14%;
    border-radius: 8px;
    border: 1px solid #ccc;
    box-shadow: 0px 2px 0px;
}

button#ingresar a, button#nuevo a {
    text-decoration: none;
    color: #666;
}
button#ingresar:hover, button#nuevo:hover {
    border: 1px solid #999;
}

div#mensaje{
    color: #777;
    text-align: center;
    margin: 5px auto;

} 

/* ###########   Estilos para Footer   ###########*/
footer {
    background-color: #333;
    margin-top: 20px;
    margin-bottom: 15px;
    padding-bottom: 10px;
}

footer section {
    width: 960px;
    margin: 0px auto;
}

footer section aside {
    float: left;
    width: 228px;
    margin-right: 15px;
    color: #ddd;
    font-size: 12px;
   
}

footer section aside.ultimo {
    margin-right: 0px;
}

footer section aside ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
    color: #ccc;
}

footer section hr {
    border: 0px solid #000;
    border-top: 1px solid #ccc;
    margin-top: 15px;
    margin-bottom: 15px;
}

footer section p {
    font-size: 12px;
    color: #ccc;
    
}

/*======================================
    Estilos para Detalle Producto
=======================================*/
div#detalle-producto {
    width: 100%;
	/*width: 196px;
	height: 390px;
	border: 1px solid #999;
	float: left;
    margin-right: 15px;
	padding: 15px;
	color: #888;  
    /*position relative para la bar inf
    position: relative;*/
}

div#detalle-producto img {
    width: 30%;
    display: inline-block;
 
}

div#detalle-producto aside {
    width: 67%;
    float: right;
    margin: 5px;
    
}
/***
   Estilos varios
***/
div.reset {
  clear: both;
}
